POSTGRES_USER=juhana_wtf
POSTGRES_PASSWORD=change_this
POSTGRES_DB=juhana_wtf
DATABASE_URL=postgres://juhana_wtf:change_this@personal-site-db:5432/juhana_wtf

SUBSCRIPTIONS_ENABLED=false
PUBLIC_SITE_URL=https://juhana.wtf
PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
POSTMARK_SERVER_TOKEN=
POSTMARK_TRANSACTIONAL_STREAM=
POSTMARK_BROADCAST_STREAM=
POSTMARK_FROM_EMAIL=newsletter@juhana.wtf
